body{
    background-color: brown;
border: none;
text-align: center;
color: aliceblue;
font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
button{
    width: 80px;
    height: 80px;
    font-size: 45px;
    text-align: center;
    
    
}
h1{
    font-size: 80px;
}